@import url(master.css);

.headerArticle h1 { 
    font: 100px bold;
    max-width: 1366px;
  padding-top: 10vh;
    text-align: center;
  color: var(--transparent);;
  -webkit-text-stroke: 1px var(--mono2);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-family: essonnes-display, serif;
}

.headerArticle h2 { 
    font: 60px extra-bold;
    max-width: 1366px;
  padding-top: 45vh;
    text-align: center;
  color: var(--mono1);;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-family: proxima-nova, sans-serif;
}

.headerArticle{
    height: 95vh;
    background-image: url(images/header/articleheader.png);
    background-size: cover;
    position: absolute;
    top: 5vh;
    width: 1366px;
  }

header .infobox{
    margin: 0 auto;
    width: 1326px;
    position: absolute;
    top: 70vh;
    padding: 20px;
    background: var(--transparent);
    text-align: center;
}

header .infobox ul li{
    font-size: 25px;
    color: var(--mono1);
    margin-bottom: 20px;
    display: inline;
    padding: 40px;
}

.articleBody{
    width: 1326px;
    overflow: hidden;
    background-color: var(--mono2);
    padding-top: 50px;
    padding: 20px;
}

.articleBody h2{
    font-size: 50px;
    color: var(--secondary);
    padding-bottom: 20px;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
}

.articleBody p{
    font-size: 25px;
    color: var(--mono1);
    padding-bottom: 75px;
}

.articleBody img{
    padding-bottom: 75px;
    width: 700px;
    margin: auto;
    
}

.boxA p{
  float: left;
  max-width: 47%;
  text-align: right;
}

.boxA img{
  float: right;
  max-width: 47%;
  
}

.boxB{
  float: left;
}

.boxC img{
  text-align: center;
  width: 100%;
}

.boxD{
  text-align: left;
}

.boxE{
  float: left;
  max-width: 48%;
  text-align: right;
}

.boxF img{
  float: right;
  max-width: 48%;
  padding-left: 4%;
  object-fit: contain;
}
.container{
  width: 100%;
  overflow: hidden;
}
.boxG h2{
  float: center;
}

.boxG p{
  float: left;
  text-align: left;
  max-width: 80%;
}

.boxGH{
  text-align: left;
  width: 100%;
  float: left;
}

.boxH{
  text-align: left;
  float: left;
}

.boxH {
  float: left;
  max-width: 48%;
}

.boxI {
  float: right;
  max-width: 48%;
  text-align: right;
}

.boxJ img{
  width: 100%;
  text-align: center;
}

.boxK{
  text-align: left;
}

.boxL{
  text-align: right;
}

.boxM{
  text-align: right;
  float: left;
  max-width: 45%;
}

.boxN img{
  float: right;
  max-width: 45%;
}