@import url(master.css);

.featured h2{
    text-align: center;
    font-size: 180px;
    margin-top: 50px;
    color: var(--mono2);
    -webkit-text-stroke: 1px var(--mono1);
}

.featured article{
    width: 90%;
    margin: auto;
    border: 1px solid  var(--quaternary);
    margin-top: 80px;
    padding: 20px;
    background: var(--mono2);
}
.featured article h4{
    font-size: 60px;
    color: var(--mono1);
    margin-bottom: 20px;
}

.featured article p{
    font-size: 30px;
    color: var(--mono1);
    margin-bottom: 20px;
}

.featured article img{
    height: 500px;
    margin-bottom: 20px;
    margin-left: 150px;
}

.featured article a{
    text-decoration: none;
    text-align: right;
}

.featured article a h6:hover{
    color: var(--transparant);
    -webkit-text-stroke: 2px var(--quaternary);
}


.featured article a h6{
    font-size: 130px;
    color: var(--transparant);
    -webkit-text-stroke: 2px var(--mono1);
}

.featured .infobox{
    margin: 0 auto;
    width: 80%;
    margin-top: 80px;
    border: 2px solid  var(--secondary);
    padding: 20px;
    background: var(--mono2);
    text-align: center;
}

.infobox ul li{
    font-size: 25px;
    color: var(--mono1);
    margin-bottom: 20px;
    display: inline;
    padding: 40px;
}

