.box5 {
  background-color: var(--tertiary);
}

.box5 .leftline {
  margin: auto;
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 0.5vw;
  height: 130vh;
  background-color: var(--mono2);
}

.box5 .rightline {
  margin: auto;
  position: absolute;
  top: 10vh;
  right: 10vw;
  width: 0.5vw;
  height: 130vh;
  background-color: var(--mono2);
}

.box5 .primarybox {
  margin: auto;
  position: relative;
  top: 15vh;
  width: 60vw;
  height: 120vh;
  background-color: var(--primary);
  padding: 10vh 2vw 10vh 2vw;
}

.box5 .primarybox .secondarybox {
  margin: auto;
  position: relative;
  width: 50vw;
  height: 110vh;
  background-color: var(--secondary);
  padding: 3vh 2vw 3vh 2vw;
}

.box5 .primarybox .secondarybox p {
  font-size: 1.5em;
  text-align: left;
}

.box5 .primarybox .secondarybox img {
  position: relative;
  width: 45vw;
}

.box5 .primarybox .secondarybox h6 a {
  text-decoration: none;
  color: var(--tertiary);
}
