/*Navbar*/

.box8 img {
  float: left;
  padding-left: 2vw;
  padding-top: 2vh;
  max-width: 5vw;
}

.box8 p {
  float: left;
  margin: auto;
  padding-top: 2.5vh;
  padding-left: 28vw;
  font-size: 2em;
  color: var(--primary);
  font-family: hwt-mardell, sans-serif;
}
