/*  Header Gradient*/
.gradient1 {
    width: 1366px;
    height: 90vh;
    position: absolute;
    top: 10vh;
  
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }
  
  .gradient2 {
    width: 1366px;
    height: 90vh;
    position: absolute;
    top: 10vh;
  
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }