@import url(master.css);

header{
    width: 1366px;
    height: 100vh;
}

nav{
    max-width: 1366px;
    height: 5vh;
    background-color: var(--mono2);
    z-index: 1;
    position: fixed;
    width: 1366px;
}

nav a{
  float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
nav ul li {
    float: right;
    padding-right: 30px;
    margin-top: 11px;
}
  
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 25px;
    color: var(--secondary);
    font-weight: 450;
  }
  
nav ul li a:hover {
    color: var(--quaternary);
  }
  
nav img {
    float: left;
    padding-left: 2.5vh;
    padding-top: 1vh;
    max-height: 3vh;
  }

.header{
    height: 90vh;
    background-image: url(images/header/header.jpg);
    background-size: cover;
    position: absolute;
    top: 10vh;
    width: 1366px;
}

.header h1 { 
	font: 130px bold;
  padding-top: 30vh;
	text-align: center;
  color: var(--mono1);
  -webkit-text-stroke: 3px var(--mono2);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}
