@import url(master.css);

header{
    width: 1366px;
    height: 100vh;
}

nav{
    max-width: 1366px;
    height: 10vh;
    background-color: var(--mono2);
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 50px;
  }
  
nav ul li {
    float: right;
    padding-right: 30px;
    margin-top: 25px;
    height: 50px;
  }
  
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 30px;
    color: var(--secondary);
    font-weight: 450;
  }
  
nav ul li a:hover {
    color: var(--quaternary);
  }
  
nav img {
    float: left;
    padding-left: 2.5vh;
    padding-top: 2.5vh;
    max-height: 5vh;
  }

.header{
    height: 90vh;
    background-image: url(images/header.jpg);
    background-size: cover;
}

.headerGradient{
    position: absolute;
    top: 10vh;
    width: 1366px;
    height: 90vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 1) 100%);
}

.header h1 { 
	font: 130px bold;
  padding-top: 30vh;
	text-align: center;
  color: var(--mono1);
  -webkit-text-stroke: 3px var(--mono2);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}