@import url("https://use.typekit.net/wqw2tpu.css");

:root {
  --primary: rgba(151, 11, 191, 1);
  --secondary: rgba(2, 63, 89, 1);
  --tertiary: rgba(42, 239, 251, 1);
  --quaternary: rgba(242, 226, 7, 1);
  --mono1: #ffffff;
  --mono2: #000000;
  --transparant: rgba(0, 0, 0, 0.5);
}
body{
  background-color: white;
  max-width: 100vw;
}
.body{
   max-width: 1366px;
    margin: auto;
    height: 500vh;
    background-color: var(--mono2);
    color: #ffffff;
}
