@import url(master.css);

.header h1{
    text-transform: uppercase;
    font-size: 11vw;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0;
    min-height: calc(100vh - 16px);
    color: var(--mono2);
  }
  
  .header h1:before{
    content: attr(data-text);
    position: absolute;
    background: var(--mono1);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 90%;
    line-height: 0.9;
    clip-path: ellipse(1000px 1000px at -2.54% -9.25%);
    animation: swing 100s infinite;
    animation-direction: alternate;
  }
  
  @keyframes swing{
    0%{
       -webkit-clip-path: ellipse(1000px 1000px at -2.54% -9.25%)
      clip-path: ellipse(1000px 1000px at -2.54% -9.25%)
    }
    50%{
      -webkit-clip-path: ellipse(1000px 1000px at 49.66% 64.36%);
      clip-path: ellipse(1000px 1000px at 49.66% 64.36%);
  
    }
    100%{
       -webkit-clip-path: ellipse(1000px 1000px at 102.62% -1.61%;);
      clip-path: ellipse(1000px 1000px at 102.62% -1.61%);
    }
  }
  
  