/* Import master*/
@import "master.css";

h1 {
  display: block;
  font-size: 7em;
  font-family: essonnes-display, serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  display: block;
  font-size: 8em;
  font-family: essonnes-display, serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  display: block;
  font-size: 2em;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h4 {
  display: block;
  font-size: 2em;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--mono2);
}

h5 {
  display: block;
  font-size: 2em;
  font-family: essonnes-display, serif;
  font-weight: 700;
  font-style: normal;
  color: var(--mono2);
}

h6 {
  display: block;
  font-size: 3em;
  font-family: essonnes-display, serif;
  font-weight: 400;
  font-style: normal;
  color: var(--mono2);
}

p {
  display: block;
  font-size: 1em;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--mono2);
}

body{
  font-family: proxima-nova, sans-serif;
}