.box5 {
  background-color: var(--tertiary);
}

.box5 .leftline {
  margin: auto;
  position: absolute;
  top: 10vh;
  left: 137px;
  width: 7px;
  height: 130vh;
  background-color: var(--mono2);
}

.box5 .rightline {
  margin: auto;
  position: absolute;
  top: 10vh;
  right: 137px;
  width: 7px;
  height: 130vh;
  background-color: var(--mono2);
}

.box5 .primarybox {
  margin: auto;
  position: relative;
  top: 15vh;
  width: 820px;
  height: 120vh;
  background-color: var(--primary);
  padding: 10vh 27px 10vh 27px;
}

.box5 .primarybox .secondarybox {
  margin: auto;
  position: relative;
  width: 683px;
  height: 110vh;
  background-color: var(--secondary);
  padding: 3vh 27px 3vh 27px;
}

.box5 .primarybox .secondarybox p {
  font-size: 1.5em;
  text-align: left;
}

.box5 .primarybox .secondarybox img {
  position: relative;
  width: 615px;
}

.box5 .primarybox .secondarybox h6 a {
  text-decoration: none;
  color: var(--tertiary);
}
